* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav{
    background-color: rgba(255, 38, 0, 0.671);
    height: 2rem;
}

.admin-container {
    display: flex;
}

.left{
    width: 200px;
    background-color: rgba(7, 7, 104, 0.788);
    height: calc(100vh);
    color: white;
    text-align: center;
}
a{
    color: white;
}
.left ul li{
    margin: 40px 40px auto auto;
}


.right{
    width: calc(100% - 200px);
}

.box{
    display: flex;
    height: 40%;
    /* width: calc(100% - 200px); */
    justify-content: space-around;
    align-items: center;
}
.box div{
    padding: 20px;
    background-color: greenyellow;
    margin: 20px auto;
    width: calc((100% - 200px)/4);
    height: 80px;
    text-align: center;
    border-radius: 20px;
}
.chart{
    /* margin: 20px; */
    height: calc(60%-220px);
    /* width: calc(100% - 200px); */
    display: flex;
    justify-content: space-around;
}
.chart ul{
    display: flex;
    /* flex-wrap: wrap; */
    /* align-content: center; */
    justify-content: space-around;
    align-items: center;
    margin-top: 220px;
    background-color: rgb(194, 186, 186);;
}
.chart ul li{
    margin: 10px;
    background-color: skyblue;
    height: 100px;
    width: 20px;
}
.cir{
    /* background-color: rgb(194, 186, 186); */
    width: 300px;
    height: 300px;
    /* border-radius: 50%; */
    margin: 20px;
    /* padding: 10px; */
}

.stu-nav{
    /* background: linear-gradient(45deg,blue,white); */
    background-color: rgba(255, 38, 0, 0.671);
    height: 2rem;
}