.admission{
    line-height: 2;
}

.admission input{
    padding: 4px;
    /* border-radius: 6px; */
}

.br{
    display: none;
}
.container{
    margin: 20px;
}
.container fieldset{
    margin: 40px;
}
.btns button{
    width: 80px;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.btns button:hover{
    /* background: linear-gradient(blue,white); */
    background-color: blue;
    color: white;
    border-radius: 3px;
}

@media only screen and (max-width: 440px) {
    .content {
        display: none;
    }
    .br{
        display: static;
    }
}